/* div{
    align-content: center;
    }
    
    img{
        margin-left :40%;
        width: 200px;
        height: 300px;
    }
    
    p{
        margin-left: 44%;
        margin-top: 0%;
        margin-bottom: 5%;
    } */